<div class="row">
	<h3>tsearchUi Is An Application That Helps You To Store and Search for Texts</h3>
</div>
</br>
<div class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Filter By Title</button>
			</span>
      <input type="text" class="form-control" placeholder="Search for..." ng-model="search.title">
		</div>
	</div>
</div>
</br>
<div class="row">
	<div class="col-lg-6">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button">Search By Content</button>
			</span>
      <input type="text" class="form-control" placeholder="Search for...">
		</div>
	</div>
</div>

<div class="row">
	<nav>
		<ul ng-repeat="tex in textures | filter:search:strict">
			<li><a ng-click='editOp(tex.id)' class="thumb">{{tex.title}}</a></li>
		</ul>
	</nav>
   </div>
</div>

<div class="row">
	<div class="input-group">
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" ng-click="addNew()">Click to Add</button>
		</span>
	</div>
   </div>
</div>

<div class="row" ng-show="showAdd">
    <div class="row">
      <h4>You can add new title and content here...</h4>
    </div>
      
    
    <div class="row">
      <div class="input-group">
      <input type="text" ng-model="title" id="title" class="form-control" placeholder="Title" ng-minlength="5"
           ng-maxlength="20"
           required>
      <input type="hidden" ng-model="hiddenId" id="hiddenId" class="form-control">
      </div>
    </div>
      </br>
    <div class="row">
      <div class="input-group input-group-btn">
      <textarea class="form-control" rows="8" id="content" ng-model="$parent.content" name="content" placeholder="Content" ng-minlength="5"
           ng-maxlength="20"
           required></textarea>
      </div>
    </div>
</br>
    <div class="row">
      <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="addOp()">Add Or Update</button>
        </span>
      </div>
   </div>
    
     <div  ng-show="showError" style="color:maroon" >
        Please fill title and content fields 
       </div>
  </div>
</div>
